.form {
  padding: 20px;
  border: 2px solid #f5bd41;
  width: 20%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
